
#
# This is the D-Bus socket for the session bus
#

[Unit]
Description=D-Bus Session Message Bus Socket

[Socket]
ListenStream=%t/dbus/user_bus_socket

