[Unit]
Description=Lightmediascanner (LMS)
After=session-bus.service
Requires=session-bus.service

[Service]
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/tmp/session-bus
User=root
ExecStart=/usr/bin/lightmediascannerd --startup-scan --directory=/usr/share/media

[Install]
WantedBy=multi-user.target
